<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>test thymeleaf</title>
</head>
<body>
<pre>
    <h1 th:text="${name}">hello world</h1>
    <h2 th:text="${colors}"></h2>
    <h2>come on</h2>

    <h3 th:each="color:${colors}">
        <h4 th:text="'This is Color '+${colorStat.index}+' '+${color}+' '+${colorStat.count}"></h4>
    </h3>

    <h5 th:each="key:${map.keySet()}">
        <h6 th:text="'Number: '+${key}+' , Value: '+${map.get(key)}"></h6>
    </h5>

    <h5 th:each="kv:${map.entrySet()}">
        <h6 th:text="'Number: '+${kv.key}+' , Value: '+${kv.value}"></h6>
    </h5>

    <h7 th:text="'User: '+${user.name}+' , '+${user.description}"></h7>
    <h7 th:text="'User: '+${user.name}+' , '+${user.getDescription()}"></h7>

    <input type="title" value="OMG"/>
    <h8 th:text="${title}"></h8>

    <div th:include="header :: title"></div>


</pre>

</body>
</html>